

.language {
  display: flex;
  button {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    padding: 10px;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    &:hover {
      color: rgba(34, 34, 34, 0.60);
    }
  }
}


