

.language {
  margin-left: 70px;
  display: flex;
  button {
    padding: 10px;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    &:hover {
      color: rgba(34, 34, 34, 0.60);
    }
  }
}