.wrapper {
  position: relative;
  width: min-content;
  p {
    text-align: center;
  }
  &_cardWithVisibleDescription {
    @extend .wrapper;
    p {
      margin-bottom: 20px;
    }
  }
  &_cardWithHiddenDescription {
    @extend .wrapper;
    p {
      position: absolute;
      top: 0;
      color: #FFF;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      visibility: hidden;
    }
  }
  &_cardWithHiddenDescription:hover {
    @extend .wrapper;
    p {
      visibility: visible;
    }
  }
}
