

.logo {

  svg path {
    fill: #222;
  }

  &:hover {
    svg path {
      fill: rgba(34, 34, 34, 0.6);
    }
  }
}


@media (max-width: 1439px) {
  .logo {
    svg {
      width: 130px;
      height: 27px;
    }
  }
}

@media (min-width: 1440px) {
  .logo {
    svg {
      width: 313px;
      height: 66px;
    }
  }
}