@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
main {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

.title {
  text-align: center;
  font-size: 120px;
  font-weight: 275;
  line-height: 100%;
  letter-spacing: 18px;
  text-transform: uppercase;
}

.subTitle {
  text-align: center;
  margin-bottom: 60px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}





@media (max-width: 1365px){

  body {
    max-width: 1365px;
  }
  .margin-site {
    margin: 0 8%;
  }
  .padding-site {
    padding: 0 8%;
  }
}

@media (min-width: 1366px) {

  body {
    max-width: 1920px;
  }

  .margin-site {
    margin: 0 4%;
  }
  .padding-site {
    padding: 0 4%;
  }
}

