@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

.title {
  text-align: center;
  font-size: 120px;
  font-weight: 275;
  line-height: 100%;
  letter-spacing: 18px;
  text-transform: uppercase;
}

.subTitle {
  text-align: center;
  margin-bottom: 60px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}



@media (min-width: 1025px) {

  body {
    width: 1780px;
  }

  .margin-site {
    margin: 0 70px;
  }
  .padding-site {
    padding: 0 70px;
  }
}

@media (max-width: 1024px){

  body {
    width: 1024px;
  }
  .margin-site {
    margin: 0 85px;
  }
  .padding-site {
    padding: 0 85px;
  }
}

