

.circle {
  border: 1px solid #222;
  border-radius: 50%;
  &_big {
    @extend .circle;
    width: 1755px;
    height: 1755px;
    position: absolute;
    margin: auto;
  }
  &_small {
    @extend .circle;
    width: 1020px;
    height: 1020px;
    position: absolute;
    top: 42px;
    left: 344px;
  }
}

.page {
  width: 100%;
  margin-top: 120px;
  padding-top: 30px;
}