
.page {
  position: relative;
  top: -88px;
}

.person {
  position: absolute;
  top: 198px;
  &__border {
    width: 239px;
    height: 214px;
    border-radius: 0 100px 0 0;
    border: 1px solid #222;
    position: absolute;
    top: -40px;
    left: 40px;
  }
  &__image {
    width: 239px;
    height: 214px;
    border-radius: 0 100px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  p {
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}

