
.header {
  width: 100%;
  border-bottom: 1px solid #222;
  position: relative;
  height: 118px;
 >div {
   display: flex;
   align-items: center;
   position: absolute;
   z-index: 10;
   height: 100%;
   &:last-child {
     right: 0;
   }
 }
}

