
.wrapper {
  position: relative;
  >div {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    width: 100%;
  }
}

@media (max-width: 1365px) {
  .wrapper {
    >div {
      height: 67px;
    }
  }
  .back {
    display: block;
  }
}

@media (min-width: 1366px) {
  .wrapper {
    >div {
      height: 118px;
    }
  }
  .back {
    display: none;
  }
}